<br><br>
<div class="table-responsive card w-50  m-lg-auto  ">
  <table
    class="table table-hover table-vcenter table-striped mb-0 text-nowrap "
    >
    <thead >
    <tr>
      <th>SENESTRE 1   </th>
      <th >  </th>
      <th >ND</th>
    </tr>
    </thead>
    <tbody>

    <tr    >

      <td >AD</td>
      <td >19</td>
      <td > </td>

    </tr>
    
    </tbody>
    <thead >
      <tr>
        <th>SENESTRE 2   </th>
        <th >  </th>
        <th >ND</th>
      </tr>
      </thead>
      <tbody>
  
      <tr    >
  
        <td >informatique</td>
        <td >15</td>
        <td > </td>
  
      </tr>
      
      </tbody>
  </table>



</div>

